@tailwind base;
@tailwind components;
@tailwind utilities;

.bgPrimary {
  /* background-color: #f31260; */
  background-color: #E71731;
}

.bgSecondary {
  background-color: #fff;
}

.bgTertiary {
  background-color: #0095f6;
}

.textPrimary {
  color: #f31260;
}

.textSecondary {
  color: #fff;
}

.textTertiary {
  color: #0095f6;
}
